.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
}

.btn-group {
  margin: auto;
  display: flex;
  max-width: 300px;
  flex-direction: row;
  justify-content: center;
}