.App {
  text-align: center;
}

.App-container {
  background-color: #27292c;
  min-height: 100vh;
  color: white;
  align-items: center;
}

.btn-group {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  max-width: 300px;
  flex-direction: row;
  justify-content: center;
}

.content {
  padding: 10px;
  background-color: #343A40;
  margin: 20px 0px 20px 0px;
  border: 1px solid #454D55;
}