.App {
  text-align: center;
}

.App-container {
  background-color: #27292c;
  color: white;
}

.btn-group {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  max-width: 300px;
  flex-direction: row;
  justify-content: center;
}

.content {
  padding: 10px;
  background-color: #343A40;
  margin: 20px 0px 20px 0px;
  border: 1px solid #454D55;
}

.content-chart {
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  margin: 20px 0px 20px 0px;
  background-color: #343A40;
  border: 1px solid #454D55;
}

.chart {
}